html, body{
  margin: 0;
  height: 100%;
}

body{
  font-family: 'Jost';
  color: white;
  font-size: 1.5rem;
  background-color: #172041;
}

@font-face{
  font-family: 'Jost';
  src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}

#monthly-data-container{
  display: flex;
  flex-direction: column; 
  margin-left: 3rem;
}

#monthly-data-items{
  display: flex;
}

#monthly-data-item{
  display: flex;
  align-items: baseline;
  margin-right: 2.5rem;
}

#monthly-data-item-circle{
  width: 1rem; 
  height: 1rem; 
  border-radius: 50%;
  margin-right: 0.5rem;
}

#monthly-data-item-text{
  display: flex;
  flex-direction: column;
}

#chart-container{
  margin-top:25vh;
  position: relative;
}

#chart-budget{
  float: right;
  margin-right: 2vw;
}

#chart-budget-line{
  margin-bottom:0;
  width: 97vw;
  background: white;
}

#chart-bars-container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

#chart-bars-coupled{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart-bars-indvi{
  display: inline-block;
  width: 15px;
  border-radius: 10px; 
  margin-right: 5px;
}

#chart-bars-coupled-label{
  text-align: center;
  width: 3rem;
  border-radius: 10px;
}