html, body{
  margin: 0;
  height: 100%;
}

body{
  font-family: 'Jost';
  color: white;
  font-size: 1.5rem;
  background-color: #172041;
}

@font-face{
  font-family: 'Jost';
  src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}

.input{
  font-family: inherit;
}